﻿.has-error > input {
    border: 1px solid #fd00007d !important;
}
.has-error >  textarea {
    border: 1px solid #fd00007d !important;
}
.has-error > select {
    border: 1px solid #fd00007d !important;
}
.help-error-block {
    color: #fd00007d;
}

.close-link {
    background: #26B99A !important;
    color: #fff !important;
}

.required {
    color: #fd0101;
}

#tab-review i {
    color: #fd00007d;
}
