﻿@using System.Web.Optimization
@model AdminPanel.Models.LedgerModel
@{
    ViewBag.Title = "CreditLimitHistory";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
@section header{
    @Styles.Render("~/autocomplete/css")
    @Styles.Render("~/select2/css")
    @Styles.Render("~/date/css")
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #2A3F54;
            color: #fff;
            border-right: 1px solid #ccc;
        }

        .first-col {
            width: 140px;
            min-width: 140px;
            max-width: 140px;
            left: 0px;
        }

        .table td, .table th {
            padding: 6px;
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 5px;
        }


        ::-webkit-scrollbar-track {
            background-color: #fff;
            border-left: 1px solid #ccc;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #969191;
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #969191;
            }
    </style>
}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Sale Register</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" id="ResetFilter" class="btn btn-danger btn-sm">Reset Filter</button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12">
                @using (Html.BeginForm("CreditLimitHistory", "Account", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterFromDate, new { @class = "form-control commoncss  docs-date", placeholder = "From Date", autocomplete = "off" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterToDate, new { @class = "form-control commoncss  docs-date", placeholder = "To Date", autocomplete = "off" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterAgencyName, new { @class = "form-control commoncss agencysearch", placeholder = "Agency Namd or Agency Id" })
                            <i class="fa fa-spinner faspinpositon fa-pulse agencyspin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                            @Html.HiddenFor(p => p.FilterAgencyId, new { @class = "hdnagencyid" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            <button type="submit" class="btn btn-success btn-xs" id="btnSearch" onclick="return SearchLedDetl();">Search</button>
                            <button type="button" class="btn btn-info">Export</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="x_panel" style="padding: 0px!important;">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper">
                        <table class="table" data-toggle="table">
                            <thead style="color: #131313;background: #ececec;">
                                <tr>
                                    <th class="sticky-col first-col">USER ID</th>
                                    <th>AGENCY ID</th>
                                    <th>AGENCY NAME</th>
                                    <th>CREDIT LIMIT</th>
                                    <th>REMARK</th>
                                    <th>UPDATED BY</th>
                                    <th>UPDATED DATE</th>
                                </tr>
                            </thead>
                            <tbody id="tbodycomm">
                                @if (Model.LedgerList != null && Model.LedgerList.Count > 0)
                                {
                                    foreach (var item in Model.LedgerList)
                                    {
                                        <tr>
                                            <td class="sticky-col first-col" style="background-color: #fff;">@item.UserId</td>
                                            <td>@item.AgencyID</td>
                                            <td>@item.AgencyName</td>
                                            <td>@item.CreditLimit</td>
                                            <td>@item.Remark</td>
                                            <td>@item.ExecutiveID</td>
                                            <td>@item.CreatedDate</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-left text-danger">No result found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    @Scripts.Render("~/autocomplete/js")
    <script src="~/Content/js/custom/AgencySearch.js"></script>
    <script>
        $("#ResetFilter").click(function () {
            $("#FilterFromDate").val(null);
            $("#FilterToDate").val(null);
            $("#FilterAgencyName").val(null);
            $("#FilterAgencyId").val(null);
        });

        SearchLedDetl = () => {
            $("#btnSearch").html("<i class='fa fa-pulse fa-spinner'></i>");
        }
    </script>
    @Scripts.Render("~/date/js")
}

