﻿@model AdminPanel.Models.SingleAgency_SP

@*<link href="~/Content/css/formvalidation.css" rel="stylesheet" />*@
@System.Web.Optimization.Styles.Render("~/date/css")

<div class="modal-header">
    <div class="col-sm-6 row">
        <h5 class="modal-title" id="exampleModalLabel">Agency Information : @Html.DisplayFor(Model => Model.Agency_Name)</h5>
    </div>
    <div class="col-sm-5" style="text-align: right;">
        <button type="button" class="btn btn-primary btn-sm TabLink" data-tabname="AgencyDetail" style="line-height: 1!important;">Agency Detail</button>
        <button type="button" class="btn btn-dark btn-sm TabLink" data-tabname="BookingDetail" style="line-height: 1!important;">Booking Detail</button>
        <button type="button" class="btn btn-info btn-sm TabLink" data-tabname="LedgerDetail" style="line-height: 1!important;">Ledger Detail</button>
        <button type="button" class="btn btn-info btn-sm TabLink" data-tabname="DepositDetail" style="line-height: 1!important;">Deposit Detail</button>
    </div>

    <button type="button" class="col-sm-1 close" data-dismiss="modal" aria-label="Close" id="updateclose" style="outline: none;">
        <span aria-hidden="true" class="text-danger" style="float: right;">&times;</span>
    </button>
</div>
@Html.HiddenFor(Model => Model.User_Id)
@Html.HiddenFor(Model => Model.PWD)
@Html.HiddenFor(Model => Model.Agent_Type)
@Html.HiddenFor(Model => Model.Distr)
<div class="col-sm-12" id="divMessage" style="display:none;"></div>

<div id="AgencyDetail" class="showtab" data-showtabname="AgencyDetail">
    <div class="modal-body" id="UpdateAgencyBody">
        <div class="row form-group">
            <div class="col-sm-3 " style="border-right: 2px solid #ccc;">
                <label>User ID</label>
                <p>@Html.DisplayFor(Model => Model.User_Id) </p>
            </div>
            <div class="col-sm-3 " style="border-right: 2px solid #ccc;">
                <label>Avilable Balance</label>
                <p>  @Html.DisplayFor(Model => Model.Crd_Limit) </p>
                @Html.HiddenFor(Model => Model.Crd_Limit)
            </div>
            <div class="col-sm-3" style="border-right: 2px solid #ccc;">
                <label>Credit Limit</label>
                <p>   @Html.DisplayFor(Model => Model.AgentLimit) </p>
                @Html.HiddenFor(Model => Model.AgentLimit)
            </div>
            <div class="col-sm-3 ">
                <label>Due Amount</label>
                <p>    @Html.DisplayFor(Model => Model.DueAmount) </p>
                @Html.HiddenFor(Model => Model.DueAmount)
            </div>
        </div>
        <div class="row form-group" style="border-top: 1px dotted #ccc;">
            <h5>Agency Address</h5>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Address</div>
                    <div class="col-sm-9 form-validation">
                        @Html.TextAreaFor(Model => Model.Address, new { @class = "form-control commoncss" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Agency Name</div>
                    <div class="col-sm-9 form-validation">
                        @Html.TextBoxFor(Model => Model.Agency_Name, new { @class = "form-control commoncss", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Country</div>
                    <div class="col-sm-9 form-validation">
                        @Html.TextBoxFor(Model => Model.Country, new { @class = "form-control commoncss", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">State</div>
                    <div class="col-sm-9 form-validation">
                        @Html.DropDownListFor(Model => Model.State, Model.StateList, "Select State", new { @class = "form-control commoncss", onchange = "GetCityList(0,'update')" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">City</div>
                    <div class="col-sm-9 form-validation">
                        @Html.DropDownListFor(Model => Model.City, Model.CityList, "Select City", new { @class = "form-control commoncss" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Zip Code</div>
                    <div class="col-sm-9 form-validation">
                        @Html.TextBoxFor(Model => Model.zipcode, new { @class = "form-control commoncss", @maxlength = "6", @onkeypress = "return isNumber(event);" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group" style="border-top: 1px dotted #ccc;">
            <h5>Agent Details</h5>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        @Html.DropDownListFor(Model => Model.Title, new List<SelectListItem>
                                            {
                                        new SelectListItem() {Text = "Mr.", Value="Mr."},
                                        new SelectListItem() {Text = "Ms.", Value="Ms."},
                                        new SelectListItem() {Text = "Mrs.", Value="Mrs."}
                                    }, new { @class = "form-control commoncss" })
                    </div>
                    <div class="col-sm-4 form-validation">@Html.TextBoxFor(Model => Model.Fname, new { @class = "form-control commoncss" })</div>
                    <div class="col-sm-4 form-validation">@Html.TextBoxFor(Model => Model.Lname, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Mobile</div>
                    <div class="col-sm-9 form-validation">@Html.TextBoxFor(Model => Model.Mobile, new { @class = "form-control commoncss", @maxlength = "10", @onkeypress = "return isNumber(event);" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Email</div>
                    <div class="col-sm-9 form-validation">@Html.TextBoxFor(Model => Model.Email, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Name on PAN</div>
                    <div class="col-sm-9 form-validation">@Html.TextBoxFor(Model => Model.NamePanCard, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Pan No</div>
                    <div class="col-sm-9 form-validation">@Html.TextBoxFor(Model => Model.PanNo, new { @class = "form-control commoncss", @maxlength = "10", @onkeypress = "return isAlphaNumeric(event);" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            @*<div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">Fax No</div>
                        <div class="col-sm-9">@Html.TextBoxFor(Model => Model.Fax_no, new { @class = "form-control commoncss" })</div>
                    </div>
                </div>*@
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">OTP Login</div>
                    <div class="col-sm-2">
                        @Html.CheckBoxFor(Model => Model.OTPLoginStatus, new { @class = "form-control", style = "width:30px" })
                    </div>

                    <div class="col-sm-5">Exp Password Login</div>
                    <div class="col-sm-2">@Html.CheckBoxFor(Model => Model.PasswordExpMsg, new { @class = "form-control", style = "width:30px" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group" style="border-top: 1px dotted #ccc;">
            <h5>GST Details</h5>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Number </div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.GSTNO, new { @class = "form-control commoncss", @maxlength = "15", @onkeypress = "return isAlphaNumeric(event);" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Company Name</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.GST_Company_Name, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Company Address</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.GST_Company_Address, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Phone No</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.GST_PhoneNo, new { @class = "form-control commoncss", @maxlength = "10", @onkeypress = "return isNumber(event);" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Email Id</div>
                    <div class="col-sm-9 form-validation">@Html.TextBoxFor(Model => Model.GST_Email, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">State</div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(Model => Model.GST_State, Model.StateList, "Select State", new { @class = "form-control commoncss", onchange = "GetCityList(1,'update')" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">City</div>
                    <div class="col-sm-9">@Html.DropDownListFor(Model => Model.GST_City, Model.GstCityList, "Select City", new { @class = "form-control commoncss" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Pin Code</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.GST_Pincode, new { @class = "form-control commoncss", @maxlength = "10", @onkeypress = "return isNumber(event);" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group" style="border-top: 1px dotted #ccc;">
            <h5>Update Details</h5>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Type</div>
                    <div class="col-sm-9">
                        @if (!Model.IsSalesLogin)
                        {
                            @Html.DropDownListFor(Model => Model.ddlAgent_Type, Model.AgentGroupTypeList, "Select Type", new { @class = "form-control commoncss" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Sales Ref</div>
                    <div class="col-sm-9">
                        @if (!Model.IsSalesLogin)
                        {
                            @Html.DropDownListFor(Model => Model.SalesExecID, Model.SalesRefList, "Select Sales Ref", new { @class = "form-control commoncss" })
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Activation</div>
                    <div class="col-sm-9">
                        @if (!Model.IsSalesLogin)
                        {
                            @Html.DropDownListFor(Model => Model.Agent_status, new List<SelectListItem>
                                            {
                                        new SelectListItem() {Text = "ACTIVE", Value="ACTIVE"},
                                        new SelectListItem() {Text = "NOT ACTIVE", Value="NOT ACTIVE"},
                                    }, new { @class = "form-control commoncss" });
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Ticketing Activation</div>
                    <div class="col-sm-9">
                        @if (!Model.IsSalesLogin)
                        {
                            @Html.DropDownListFor(Model => Model.Online_Tkt, new List<SelectListItem>
                                          {
                                      new SelectListItem() {Text = "ACTIVE", Value="ACTIVE"},
                                      new SelectListItem() {Text = "NOT ACTIVE", Value="NOT ACTIVE"},
                                  }, new { @class = "form-control commoncss" });
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Agent Credit</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.AgentLimit, new { @class = "form-control commoncss", @readonly = "readonly" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">IRCTC ID</div>
                    <div class="col-sm-9">@Html.TextBoxFor(Model => Model.IrctcId, new { @class = "form-control commoncss" })</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Change Distributor</div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(Model => Model.ddlDistr, Model.DistrList, "Select Distr", new { @class = "form-control commoncss" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!Model.IsSalesLogin)
    {
        <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-xs" id="btnAgencyUpdate" onclick="return UpdateAgencyDetl();">Save Changes</button>
        </div>
    }
</div>
<div id="LedgerDetail" class="showtab" data-showtabname="LedgerDetail" style="display:none;">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_content">
                    <div class="form-horizontal form-label-left" style="height:auto!important">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtLedFromDate" class="form-control commoncss docs-date" placeholder="From Date" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtLedToDate" class="form-control commoncss docs-date" placeholder="To Date" />
                                </div>
                            </div>
                            @*<div class="col-md-2 col-sm-12  form-group">
                                    <input class="form-control commoncss agencysearch" id="txtLedAgency" name="txtLedAgency" placeholder="Agency Namd or Agency Id" type="text" autocomplete="off" />
                                    <i class="fa fa-spinner faspinpositon fa-pulse agencyspin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                                    <input class="hdnagencyid" id="FilterAgencyId" name="txtLedAgencyId" type="hidden" />
                                </div>*@
                            <div class="col-md-3  form-group">
                                <select class="form-control commoncss" id="ddlLedBookingType" name="ddlFlightBookingType">
                                    <option value="">Select Booking Type</option>
                                </select>
                            </div>
                            <div class="col-md-3  form-group">
                                <select class="form-control commoncss" id="ddlLedTransType" name="ddlTransType">
                                    <option value="">Select Trans Type</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12  form-group">
                                <button type="submit" class="btn btn-success btn-xs" id="btnLedSearch" onclick="return AgencyLedSerchDel();" style="width: 100%; line-height: 29px;">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="table-responsive text-nowrap tablescroll">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th class="sticky-col first-col">Order ID</th>
                                @*<th>Agency Id</th>
                                    <th>User Id</th>
                                    <th>Agency Name</th>*@
                                <th>Sector</th>
                                <th>Pax Name</th>
                                <th>Pnr</th>
                                <th>Aircode</th>
                                <th>TicketNo</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                                <th>Booking Type</th>
                                <th>Date</th>
                                <th>Remark</th>
                                <th>Due Amount</th>
                                <th>Credit Limit</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyled">
                            <tr>
                                <td colspan="14">
                                    <p style="font-size:20px;">Please wait...<i class="fa fa-spinner fa-pulse"></i></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="BookingDetail" class="showtab" data-showtabname="BookingDetail" style="display:none;">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_content">
                    <div class="form-horizontal form-label-left" style="height:auto!important">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookFromDate" class="form-control commoncss docs-date" placeholder="From Date" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookToDate" class="form-control commoncss docs-date" placeholder="To Date" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookPnr" class="form-control commoncss" placeholder="Pnr" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookOrderId" class="form-control commoncss" placeholder="Order Id" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookPaxName" class="form-control commoncss" placeholder="Passenger Name" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookTicketNo" class="form-control commoncss " placeholder="Ticket No" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class="form-validation">
                                    <input type="text" id="txtBookAirline" class="form-control commoncss airlinesearch" placeholder="Airline" />
                                    <i class="fa fa-spinner faspinpositon fa-pulse airlinespin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                                    <input type="hidden" id="hdnAirline" class="hdnairlinecode" />
                                </div>
                            </div>
                            <div class="col-md-2  form-group">
                                <select class="form-control commoncss" id="ddlBookTripType" name="ddlFlightBookingType">
                                    <option value="">Select Trip Type</option>
                                    <option value="D">Domestic</option>
                                    <option value="I">International</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-12  form-group">
                                <button type="submit" class="btn btn-success btn-xs" id="btnBookSearch" onclick="return AgencyBookSerchDel();" style="width: 100%; line-height: 29px;">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="table-responsive text-nowrap tablescroll">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th class="sticky-col first-col">Order ID</th>
                                <th>Booking Date/Time</th>
                                <th>GdsPnr</th>
                                <th>AirlinePnr</th>
                                <th>Sector</th>
                                <th>Passenger</th>
                                <th>Carrier</th>
                                <th>Trip</th>
                                <th>Trip Type</th>
                                <th>Booking Gross Amount</th>
                                <th>Booking Net Amount</th>
                                <th>Ticket Status</th>
                                <th>Supplier</th>
                                <th>Executive</th>
                            </tr>
                        </thead>
                        <tbody id="tbodybooking">
                            <tr>
                                <td colspan="14">
                                    <p style="font-size:20px;">Please wait...<i class="fa fa-spinner fa-pulse"></i></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="DepositDetail" class="showtab" data-showtabname="DepositDetail" style="display:none;">
    <div class="modal-body">
        <div class="row" style="margin-top: -10px;">
            <div class="col-md-12 col-sm-12 " style="text-align: right;">
                <button type="button" class="btn btn-info btn-sm" style="line-height: 1!important;" onclick="GetDepositDetailByType('Pending')">Pending</button>
                <button type="button" class="btn btn-dark btn-sm" style="line-height: 1!important;" onclick="GetDepositDetailByType('InProcess')">InProcess</button>
                <button type="button" class="btn btn-danger btn-sm" style="line-height: 1!important;" onclick="GetDepositDetailByType('Rejected')">Rejected</button>
                <button type="button" class="btn btn-success btn-sm" style="line-height: 1!important;" onclick="GetDepositDetailByType('Confirm')">Accepted</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="table-responsive text-nowrap tablescroll">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                @*<th class="sticky-col first-col">ID</th>*@
                                <th></th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Payment Mode</th>
                                <th>Bank Name</th>
                                <th>Cheque No</th>
                                <th>Cheque Date</th>
                                <th>Transaction Id</th>
                                <th>Reference No</th>
                                <th>Deposit City</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyDeposit">
                            <tr>
                                <td colspan="12">
                                    <p style="font-size:20px;">Please wait...<i class="fa fa-spinner fa-pulse"></i></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $("#updateclose").click(function () {
        window.location.reload();
    });

    $(".TabLink").click(function () {
        ResetFilter();
        $(".showtab").each(function () { $(this).css("display", "none"); });

        let tabname = $(this).data("tabname");
        $("#" + tabname).css("display", "block");

        if (tabname == "AgencyDetail") {
            let agencyuid = $("#User_Id").val();
            $.ajax({
                type: "GET",
                url: "/Profile/AgencyDetailById",
                contentType: "application/json; charset=utf-8",
                data: { "userid": agencyuid },
                datatype: "json",
                success: function (data) {
                    $('#AgencyContent').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }
        if (tabname == "LedgerDetail") {
            $.ajax({
                type: "GET",
                url: "/Account/GetBookingTypeFromLedger",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#ddlLedBookingType").children().remove();
                    $("#ddlLedBookingType").append($('<option>').val(0).text('Select Booking Type'));
                    $.each(data, function (i, data) {
                        $("#ddlLedBookingType").append($('<option></option>').val(data.Value).html(data.Text));
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/Account/GetTransTypeFromLedger",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#ddlLedTransType").children().remove();
                    $("#ddlLedTransType").append($('<option>').val(0).text('Select Booking Type'));
                    $.each(data, function (i, data) {
                        $("#ddlLedTransType").append($('<option></option>').val(data.Value).html(data.Text));
                    });
                }
            });
            setTimeout(AgencyLedSerchDel(), 2000);
        }
        if (tabname == "BookingDetail") {
            setTimeout(AgencyBookSerchDel(), 2000);
        }
        if (tabname == "DepositDetail") {
            FetchDepositDetail($("#User_Id").val(), "Pending");
        }
    });

    function ResetFilter() {
        $("#txtLedFromDate").val(""); $("#txtLedToDate").val("");
        $("#ddlLedBookingType").val(""); $("#ddlLedTransType").val("");
        /*-------------------------------*/
        $("#txtBookFromDate").val(""); $("#txtBookToDate").val("");
        $("#txtBookPnr").val(""); $("#txtBookOrderId").val("");
        $("#txtBookPaxName").val(""); $("#txtBookTicketNo").val("");
        $("#txtBookAirline").val(""); $("#hdnAirline").val("");
        $("#ddlBookTripType").val("");

        $("#divMessage").html("").css("display", "none");
    }

    function AgencyLedSerchDel() {
        let aid = $("#User_Id").val();
        let fd = $("#txtLedFromDate").val();
        let td = $("#txtLedToDate").val();
        let bt = $("#ddlLedBookingType selected:option").val();
        if (bt == undefined) { bt = ""; }
        let tt = $("#ddlLedTransType selected:option").val();
        if (tt == undefined) { tt = ""; }
        $("#btnLedSearch").html("Searching...<i class='fa fa-spinner fa-pulse'></i>");
        $("#tbodyled").html("").html("<tr><td colspan='17'><p style='font-size:15px;'>Please wait...<i class='fa fa-spinner fa-pulse'></i></td></tr>");
        $.ajax({
            type: "POST",
            url: "/Account/GetAgencyLedgerDetail",
            contentType: "application/json; charset=utf-8",
            data: '{aid: ' + JSON.stringify(aid) + ',fd: ' + JSON.stringify(fd) + ',td: ' + JSON.stringify(td) + ',bt: ' + JSON.stringify(bt) + ',tt: ' + JSON.stringify(tt) + '}',
            datatype: "json",
            success: function (data) {
                $("#tbodyled").html("").html(data);
                $("#btnLedSearch").html("Search");
            }
        });
    }

    function AgencyBookSerchDel() {
        let aid = $("#User_Id").val();
        let fd = $("#txtBookFromDate").val();
        let td = $("#txtBookToDate").val();
        let pnr = $("#txtBookPnr").val();
        let oid = $("#txtBookOrderId").val();
        let pax = $("#txtBookPaxName").val();
        let tno = $("#txtBookTicketNo").val();
        let aline = $("#hdnAirline").val();
        if ($("#txtBookAirline").val() == "") { aline = ""; }
        let trip = $("#ddlBookTripType selected:option").val();
        if (trip == undefined) { trip = ""; }

        $("#btnBookSearch").html("Searching...<i class='fa fa-spinner fa-pulse'></i>");
        $("#tbodybooking").html("").html("<tr><td colspan='17'><p style='font-size:15px;'>Please wait...<i class='fa fa-spinner fa-pulse'></i></td></tr>");
        $.ajax({
            type: "POST",
            url: "/Account/GetAgencyTicketBookingDetail",
            contentType: "application/json; charset=utf-8",
            data: '{aid: ' + JSON.stringify(aid) + ',fd: ' + JSON.stringify(fd) + ',td: ' + JSON.stringify(td) + ',pnr: ' + JSON.stringify(pnr) + ',oid: ' + JSON.stringify(oid) + ',pax: ' + JSON.stringify(pax) + ',tno: ' + JSON.stringify(tno) + ',aline: ' + JSON.stringify(aline) + ',trip: ' + JSON.stringify(trip) + '}',
            datatype: "json",
            success: function (data) {
                $("#tbodybooking").html("").html(data);
                $("#btnBookSearch").html("Search");
            }
        });
    }

    function GetDepositDetailByType(type) { FetchDepositDetail($("#User_Id").val(), type); }

    function FetchDepositDetail(userid, status) {
        $("#tbodyDeposit").html("").html("<tr><td colspan='12'><p style='font-size:20px;'>Please wait...<i class='fa fa-spinner fa-pulse'></i></p></td></tr>");
        $.ajax({
            type: "POST",
            url: "/Account/GetPendingDepositStatus",
            contentType: "application/json; charset=utf-8",
            data: '{userid: ' + JSON.stringify(userid) + ',status: ' + JSON.stringify(status) + '}',
            datatype: "json",
            success: function (data) {
                $("#tbodyDeposit").html("").html(data);
            }
        });
    }

    $("body").on("click", ".acceptdeposit", function () {
        let depositid = $(this).data("depositid");
        let userid = $("#User_Id").val();
        let remark = "";
        let status = "Pending";
        let updatestatus = "accept";
        $(this).html("<i class='fa fa-spinner fa-pulse'></i>");
        $.ajax({
            type: "POST",
            url: "/Account/UpdateDepositDetails",
            contentType: "application/json; charset=utf-8",
            data: '{deptid: ' + JSON.stringify(depositid) + ',agentid: ' + JSON.stringify(userid) + ',remark: ' + JSON.stringify(remark) + ',updatestatus: ' + JSON.stringify(updatestatus) + ',status: ' + JSON.stringify(status) + '}',
            datatype: "json",
            success: function (data) {
                $("#tbodyDeposit").html("").html(data[1]);
                $("#divMessage").html("<h5 style='text-align:center;color: #28a745;'>Accepted successfully.</h5>").css("display", "block");
                $('#divMessage').fadeIn("fast", function () { $("#divMessage").fadeOut(8000); });
            }
        });
    });
</script>

<script>
    //Inprocess Credit   
    $("body").on("click", ".creditdeposit", function () {
        let depositid = $(this).data("depositid");
        let userid = $("#User_Id").val();

        $(".trinnercredit").each(function () {
            let depositid = $(this).data("creditid");
            $("#txtCreditRemark_" + depositid).css("border", "1px solid #ced4da");
            $("#btnGiveCredit_" + depositid).html("Credit");
            $("#OpenCredit_" + depositid).html("Credit").css("background", "#ffc107").removeClass("closecreditsec");
            if (!$("#OpenCredit_" + depositid).hasClass("creditdeposit")) {
                $("#OpenCredit_" + depositid).addClass("creditdeposit");
            }
            $(this).css("display", "none");
        });
        $('#trCredit_' + depositid).fadeOut("fast", function () {
            $("#txtCreditRemark_" + depositid).val("");
            $("#ddlCreditType_" + depositid).val("CA");
            $("#trCredit_" + depositid).fadeIn(1000);
            $("#OpenCredit_" + depositid).html("<i class='fa fa-times'></i>").css("background", "#dc3545").addClass("closecreditsec").removeClass("creditdeposit");
            $("#OpenRejectCredit_" + depositid).css({ "pointer-events": "none", "cursor": "default" });
        });
        /*$('#trCredit_' + depositid)*/
    });
    $("body").on("click", ".closecreditsec", function () {
        let depositid = $(this).data("depositid");
        $("#trCredit_" + depositid).css("display", "none");
        $("#txtCreditRemark_" + depositid).css("border", "1px solid #ced4da");
        $("#btnGiveCredit_" + depositid).html("Credit");
        $("#OpenCredit_" + depositid).html("Credit").css("background", "#ffc107").removeClass("closecreditsec");
        if (!$("#OpenCredit_" + depositid).hasClass("creditdeposit")) {
            $("#OpenCredit_" + depositid).addClass("creditdeposit");
        }
        $("#OpenRejectCredit_" + depositid).css({ "pointer-events": "auto", "cursor": "pointer" });
    });
    $("body").on("click", ".givecredit", function () {
        let depositid = $(this).data("givecreditid");
        let userid = $("#User_Id").val();
        let remark = $("#txtCreditRemark_" + depositid).val();
        let status = "InProcess";
        let updatestatus = "credit";

        if (remark.trim() != "") {
            $("#btnGiveCredit_" + depositid).html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");
            $.ajax({
                type: "POST",
                url: "/Account/UpdateDepositDetails",
                contentType: "application/json; charset=utf-8",
                data: '{deptid: ' + JSON.stringify(depositid) + ',agentid: ' + JSON.stringify(userid) + ',remark: ' + JSON.stringify(remark) + ',updatestatus: ' + JSON.stringify(updatestatus) + ',status: ' + JSON.stringify(status) + '}',
                datatype: "json",
                success: function (data) {
                    if (data[0] == "success") {
                        $("#divMessage").html("<h5 style='text-align:center;color: #28a745;'>" + data[1] + "</h5>").css("display", "block");
                        $("#tbodyDeposit").html("").html(data[2]);
                        $('#divMessage').fadeIn("fast", function () { $("#divMessage").fadeOut(8000); });
                    }
                    else {
                        $("#tbodyDeposit").html("").html(data[0]);
                    }
                }
            });
        }
        else {
            $("#txtCreditRemark_" + depositid).css("border", "1px solid #dc3545");
            return false;
        }
    });
</script>
<script>
    //Inprocess Reject
    $("body").on("click", ".creditrejectdeposit", function () {
        let depositid = $(this).data("depositid");
        let userid = $("#User_Id").val();

        $(".trinnercreditreject").each(function () {
            let depositid = $(this).data("creditid");
            $("#txtCreditRejectRemark_" + depositid).css("border", "1px solid #ced4da");
            $("#btnRejectCredit_" + depositid).html("Reject");
            $("#OpenRejectCredit_" + depositid).html("Reject").css("background", "#dc3545").removeClass("closerejectsec");
            if (!$("#OpenRejectCredit_" + depositid).hasClass("creditrejectdeposit")) {
                $("#OpenRejectCredit_" + depositid).addClass("creditrejectdeposit");
            }
            $(this).css("display", "none");
        });
        $('#trCreditReject_' + depositid).fadeOut("fast", function () {
            $("#txtCreditRejectRemark_" + depositid).val("");
            $("#trCreditReject_" + depositid).fadeIn(1000);
            $("#OpenRejectCredit_" + depositid).html("<i class='fa fa-times'></i>").css("background", "#dc3545").addClass("closerejectsec").removeClass("creditrejectdeposit");
            $("#OpenCredit_" + depositid).css({ "pointer-events": "none", "cursor": "default" });
        });
    });
    $("body").on("click", ".closerejectsec", function () {
        let depositid = $(this).data("depositid");
        $("#trCreditReject_" + depositid).css("display", "none");
        $("#txtCreditRejectRemark_" + depositid).css("border", "1px solid #ced4da");
        $("#btnRejectCredit_" + depositid).html("Reject");
        $("#OpenRejectCredit_" + depositid).html("Reject").css("background", "#dc3545").removeClass("closerejectsec");
        if (!$("#OpenRejectCredit_" + depositid).hasClass("creditrejectdeposit")) {
            $("#OpenRejectCredit_" + depositid).addClass("creditrejectdeposit");
        }
        $("#OpenCredit_" + depositid).css({ "pointer-events": "auto", "cursor": "pointer" });
    });
    $("body").on("click", ".rejectcredit", function () {
        let depositid = $(this).data("rejectcreditid");
        let userid = $("#User_Id").val();
        let remark = $("#txtCreditRejectRemark_" + depositid).val();
        let status = "InProcess";
        let updatestatus = "reject";

        if (remark.trim() != "") {
            $("#btnRejectCredit_" + depositid).html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");
            $.ajax({
                type: "POST",
                url: "/Account/UpdateDepositDetails",
                contentType: "application/json; charset=utf-8",
                data: '{deptid: ' + JSON.stringify(depositid) + ',agentid: ' + JSON.stringify(userid) + ',remark: ' + JSON.stringify(remark) + ',updatestatus: ' + JSON.stringify(updatestatus) + ',status: ' + JSON.stringify(status) + '}',
                datatype: "json",
                success: function (data) {
                    if (data[0] == "success") {
                        $("#divMessage").html("<h5 style='text-align:center;color: #28a745;'>" + data[1] + "</h5>").css("display", "block");
                        $('#divMessage').fadeIn("fast", function () { $("#divMessage").fadeOut(8000); });
                        $("#tbodyDeposit").html("").html(data[2]);
                    }
                    else {
                        $("#tbodyDeposit").html("").html(data[0]);
                    }
                }
            });
        }
        else {
            $("#txtCreditRejectRemark_" + depositid).css("border", "1px solid #dc3545");
            return false;
        }
    });
</script>
<script>
     //Pending Reject
    $("body").on("click", ".rejectdeposit", function () {
        let depositid = $(this).data("depositid");
        let userid = $("#User_Id").val();
        $(".trinnerpendingreject").each(function () {
            let pendingid = $(this).data("pendingid");
            $("#txtPendingRejectRemark_" + pendingid).css("border", "1px solid #ced4da");
            $("#btnRejectPending_" + pendingid).html("Reject");
            $("#OpenRejectPending_" + pendingid).html("Reject").css("background", "#dc3545").removeClass("closependingsec");
            if (!$("#OpenRejectPending_" + pendingid).hasClass("rejectdeposit")) {
                $("#OpenRejectPending_" + pendingid).addClass("rejectdeposit");
            }
            $(this).css("display", "none");
        });
        $('#trPendingReject_' + depositid).fadeOut("fast", function () {
            $("#txtPendingRejectRemark_" + depositid).val("");
            $("#trPendingReject_" + depositid).fadeIn(1000);
            $("#OpenRejectPending_" + depositid).html("<i class='fa fa-times'></i>").css("background", "#dc3545").addClass("closependingsec").removeClass("rejectdeposit");
            $("#OpenAcceptPending_" + depositid).css({ "pointer-events": "none", "cursor": "default" });
        });
    });
    $("body").on("click", ".rejectpending", function () {
        let depositid = $(this).data("rejectpendingid");
        let userid = $("#User_Id").val();
        let remark = $("#txtPendingRejectRemark_" + depositid).val();
        let status = "Pending";
        let updatestatus = "reject";

        if (remark.trim() != "") {
            $("#btnRejectPending_" + depositid).html("Please wait...<i class='fa fa-spinner fa-pulse'></i>");
            $.ajax({
                type: "POST",
                url: "/Account/UpdateDepositDetails",
                contentType: "application/json; charset=utf-8",
                data: '{deptid: ' + JSON.stringify(depositid) + ',agentid: ' + JSON.stringify(userid) + ',remark: ' + JSON.stringify(remark) + ',updatestatus: ' + JSON.stringify(updatestatus) + ',status: ' + JSON.stringify(status) + '}',
                datatype: "json",
                success: function (data) {
                    if (data[0] == "success") {
                        $("#divMessage").html("<h5 style='text-align:center;color: #28a745;'>" + data[1] + "</h5>").css("display", "block");
                        $('#divMessage').fadeIn("fast", function () { $("#divMessage").fadeOut(8000); });
                        $("#tbodyDeposit").html("").html(data[2]);
                    }
                    else {
                        $("#tbodyDeposit").html("").html(data[0]);
                    }
                }
            });
        }
        else {
            $("#txtPendingRejectRemark_" + depositid).css("border", "1px solid #dc3545");
            return false;
        }
    });
    $("body").on("click", ".closependingsec", function () {
        let depositid = $(this).data("depositid");
        $("#trPendingReject_" + depositid).css("display", "none");
        $("#txtPendingRejectRemark_" + depositid).css("border", "1px solid #ced4da");
        $("#OpenRejectPending_" + depositid).html("Reject");
        $("#OpenRejectPending_" + depositid).html("Reject").css("background", "#dc3545").removeClass("closependingsec");
        if (!$("#OpenRejectPending_" + depositid).hasClass("rejectdeposit")) {
            $("#OpenRejectPending_" + depositid).addClass("rejectdeposit");
        }
        $("#OpenAcceptPending_" + depositid).css({ "pointer-events": "auto", "cursor": "pointer" });
    });
</script>

@*@System.Web.Optimization.Styles.Render("~/date/js")*@

@*<script src="~/Content/js/custom/common.js"></script>*@
<script src="~/Content/js/custom/AgencySearch.js"></script>

@System.Web.Optimization.Scripts.Render("~/date/js")
