﻿<link href="~/Content/css/formvalidation.css" rel="stylesheet" />

<div class="modal fade bd-example-modal-lg" id="AgencyDelModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="AgencyContent">
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="btnLedger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ledger Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_content">
                            <div class="form-horizontal form-label-left" style="height:auto!important">
                                <div class="form-group row">
                                    <div class="col-sm-2 ">
                                        <label>
                                            From Date
                                        </label>
                                        <div class="form-validation">
                                            <input type="text" id="txtLedFromDate" class="form-control commoncss docs-date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="CreateAgency" tabindex="-1" role="dialog" aria-labelledby="CreateAgency" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="CreateAgency">
            <link href="~/Content/css/formvalidation.css" rel="stylesheet" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Agency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="createclose">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="CreateAgencyBody">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_content">
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1" id="step_no1">
                                            <span class="step_no step_no1">1</span>
                                            <span class="step_descr">
                                                Step 1<br />
                                                <small>Personal Details</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2" id="step_no2">
                                            <span class="step_no step_no2">2</span>
                                            <span class="step_descr">
                                                Step 2<br />
                                                <small>Agency & Business Details</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3" id="step_no3">
                                            <span class="step_no step_no3">3</span>
                                            <span class="step_descr">
                                                Step 3<br />
                                                <small>Authentication</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="step-1" style="margin-top: 10px;">
                                    <div class="form-horizontal form-label-left" style="height:auto!important">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Title <span class="required">*</span>
                                                </label>
                                                <select id="ddlTitle" class="form-control commoncss">
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Ms.">Ms.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <label>
                                                    First Name <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtFirstName" class="form-control commoncss" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Last Name <span class="required">*</span>
                                                </label><div class="form-validation">
                                                    <input type="text" id="txtLastName" class="form-control commoncss" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Mobile No. (Your user id) <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtMobileNo" class="form-control commoncss" maxlength="10" onkeyup="checkUserIdStrength()" onkeypress="return isNumber(event);" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Email Id <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtEmailId" class="form-control commoncss" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Whatsup Number
                                                </label>
                                                <input type="text" id="txtWhatsupNo" class="form-control commoncss" maxlength="10" onkeypress="return isNumber(event);" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actionBar">
                                        <button class="buttonNext btn btn-success" id="btnStep1Next">Next</button>
                                    </div>
                                </div>
                                <div id="step-2" style="margin-top: 10px;display:none;">
                                    <div class="form-horizontal form-label-left" style="height:auto!important">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Agency Name <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtAgencyName" class="form-control commoncss" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Agency Address <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <textarea type="text" id="txtAgencyAddress" class="form-control commoncss"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Country <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <select id="ddlCountry" class="form-control commoncss">
                                                        <option selected="selected" value="India">India</option>
                                                        @*<option value="Other">Other</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    State <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <select id="ddlState" class="form-control commoncss" onchange="GetCityList(0,'create')">
                                                        <option value="">Select State</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    City <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <select id="ddlCity" class="form-control commoncss">
                                                        <option value="">Select City</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Pin Code
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtPinCode" class="form-control commoncss" maxlength="6" onkeypress="return isNumber(event);" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Pan Number <span class="required">*</span>
                                                </label>
                                                <div class="form-validation pancardno">
                                                    <input type="text" id="txtPanNo" class="form-control commoncss" maxlength="10" onkeypress="return isAlphaNumeric(event);" onkeyup="return CheckPanNumber();" style="text-transform: uppercase;" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Name on Pan Card <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtNameOnPan" class="form-control commoncss" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Do you have GST information ?
                                                    <input type="checkbox" id="chkIsGst" class="form-control commoncss" style="width:30px;border:1px solid red;width: 20px;height: 30px;margin: auto;display: table-row;border: 5px solid red;margin-left: 4px;margin-top: 21px;">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Upload pan card document [must be in JPG formate] <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="file" id="fluPanCard" class="form-control commoncss" title="Pancard image must be in JPG formate">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Upload address proof document [must be in JPG formate] <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="file" id="fluCompAddress" class="form-control commoncss" title="Company address image must be in JPG formate">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Upload agency logo [must be in PNG formate]
                                                </label>
                                                <input type="file" id="fluAgencyLogo" class="form-control commoncss" title="Logo must be in PNG formate and Size should be (90*70) pixels">
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-horizontal form-label-left" id="DivGstSection" style="display:none;">
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst Number <span class="required">*</span>
                                                </label>
                                                <div class="form-validation gstnumber">
                                                    <input type="text" id="txtGstNumber" class="form-control commoncss" maxlength="15" onkeypress="return isAlphaNumeric(event);" onkeyup="return CheckGSTNumber();" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst  Company Name <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtGstCompanyName" class="form-control commoncss" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst   Company Address <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtGstCompanyAddress" class="form-control commoncss" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst     State <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <select id="ddlGstState" class="form-control commoncss" onchange="GetCityList(1,'create')">
                                                        <option value="">Select State</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst     City <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <select id="ddlGstCity" class="form-control commoncss">
                                                        <option value="">Select City</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst        Pin Code <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtGstPinCode" class="form-control commoncss" maxlength="6" onkeypress="return isNumber(event);" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst       Phone Number
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtGstPhNumber" class="form-control commoncss" maxlength="10" onkeypress="return isNumber(event);" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Gst        Email Id <span class="required">*</span>
                                                </label>
                                                <div class="form-validation">
                                                    <input type="text" id="txtGstEmailId" class="form-control commoncss" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actionBar">
                                        <button class="buttonNext btn btn-success" id="btnStep2Next">Next</button>
                                        <button style="float: left;" id="btnStep2Prev" class="buttonPrevious btn btn-primary">Previous</button>
                                    </div>
                                </div>
                            </div>
                            <div id="step-3" style="margin-top: 10px;display:none;">
                                <div class="form-horizontal form-label-left" style="height:auto!important">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label>
                                                User Id <span class="required">*</span>
                                            </label>
                                            <div class="form-validation">
                                                <input type="text" id="txtUserId" class="form-control commoncss" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>
                                                Password <span class="required">*</span>
                                            </label>
                                            <div class="form-validation auserpass">
                                                <input type="text" id="txtPassword" class="form-control commoncss" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>
                                                Confirm Password <span class="required">*</span>
                                            </label>
                                            <div class="form-validation auserconfpass">
                                                <input type="text" id="txtConfPassword" class="form-control commoncss" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="actionBar">
                                    <button class="buttonNext btn btn-success" id="btnSaveAgencyDetail">Save Detail</button>
                                    <button style="float: left;" id="btnStep3Prev" class="buttonPrevious btn btn-primary">Previous</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Content/js/custom/common.js"></script>
