﻿@model IEnumerable<AdminPanel.Models.CityMaster>
@{
    ViewBag.Title = "CityMaster";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

@*<div class="col-sm-12" style="background-color: white; padding: 0px 10px 5px 10px; box-shadow: 0px 0px 10px 1px #bcbcbc; ">
        <div class="row">
            <div class="col-sm-12">
                <div lass="col-sm-12" style="border: 1px dashed #bcbcbc; padding: 5px 0 0 5px; margin: 10px 0 10px 0px;">
                    <h6 style="font-size: 13px;">Dashboard > Privilage > <u>City Master</u></h6>
                    <span id="updateStatus" style="color: green;"></span>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-sm-4">
                    <div class="form-group form-validation">
                        <select id="ddlState" name="txtStateId" required class="form-control">
                            @Html.Raw(ViewBag.StateList)
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group form-validation">
                        <input type="text" id="txtCity" name="txtCity" placeholder="Enter City" class="form-control">
                    </div>
                </div>

                <div class="col-sm-2 form-group">
                    <input type="button" value="Add City" style="width: 120px;" id="addCityBtn" class="btn btn-danger">
                </div>
                <div class="col-sm-2 form-group">
                    <input type="submit" value="Search City" style="width: 120px;" id="searchCityBtn" class="btn btn-danger">
                </div>
            }
        </div>
    </div>*@


<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>City Master </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @using (Html.BeginForm())
            {
                <div class="col-sm-4">
                    <div class="form-group form-validation">
                        <select id="ddlState" name="txtStateId" required class="form-control">
                            @Html.Raw(ViewBag.StateList)
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group form-validation">
                        <input type="text" id="txtCity" name="txtCity" placeholder="Enter City" class="form-control">
                    </div>
                </div>

                <div class="col-sm-2 form-group" style="width: 150px;">
                    <input type="button" value="Add City" style="width: 120px;" id="addCityBtn" class="btn btn-success pull-right">
                </div>
                <div class="col-sm-2 form-group">
                    <input type="submit" value="Search City" style="width: 120px;" id="searchCityBtn" class="btn btn-success">
                </div>
            }
            <br />
            <span id="updateStatus" style="color: green;"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>City Name</th>
                                        <th>State Name</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">

                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id=@item.id>
                                                <td><input style="border:none" id="cityname_@item.id" type="text" readonly value='@item.CITY'></td>
                                                <td>@item.STATE</td>
                                                <td>@item.CREATEDDATE</td>
                                                <td id="Action_@item.id" class="Action" style="cursor:pointer;">
                                                    <u style="color: red" onclick="EditCity(@item.id)">Edit</u>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <u style="color:red" onclick="DeleteCity(@item.id)">Delete</u>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align:center">
                                            <td colspan="4" style="color:red;">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script>
    let datacount = 0;
    $(function () {
        datacount = @Model.Count();
    });
</script>
<script src="~/Content/js/PrivilageSetting/CityMaster.js"></script>
