﻿
@{
    ViewBag.Title = "MenuDetail";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/design/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-code-fork"></i>&nbsp;Menu Detail</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3 col-sm-12  form-group">
                        <input id="txtPageName" type="text" placeholder="Page Name" class="form-control commoncss" />
                    </div>
                    <div class="col-md-6 col-sm-12  form-group">
                        <input id="txtPageUrl" type="text" placeholder="Page Url" class="form-control commoncss" />
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <select class="form-control commoncss" id="ddlMainPageName">
                            <option value="0">Select Main Page</option>
                            <option value="HEADOFFICE">HEADOFFICE</option>
                            <option value="HEADOFFICE">HEADOFFICE</option>
                            <option value="HEADOFFICE">HEADOFFICE</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12  form-group">
                        <select class="form-control commoncss" id="ddlIsMainPage">
                            <option value="">Select Is Main Page</option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div class="col-md-3 col-sm-12  form-group">
                        <button type="submit" id="btnSubmit" class="btn btn-success btn-xs form-control">Submit</button>
                    </div>
                    <div class="col-md-3 col-sm-12  form-group">
                        <button type="submit" id="btnReset" class="btn btn-success btn-xs form-control">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Page Id</th>
                                        <th>Page Name</th>
                                        <th>Page Url</th>
                                        <th>Main Page Id</th>
                                        <th>Is Main Page</th>
                                        <th>Page Order</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Hold Pnr Report</td>
                                        <td>google.com</td>
                                        <td>106</td>
                                        <td><span class="badge badge-danger"><i class="fa fa-times-circle"></i>&nbsp;No</span></td>
                                        <td>---</td>
                                        <td><span class="badge badge-danger"><i class="fa fa-times-circle"></i>&nbsp;Delete</span></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Hold Pnr Report</td>
                                        <td>google.com</td>
                                        <td>106</td>
                                        <td><span class="badge badge-success"><i class="fa fa-check-circle"></i>&nbsp;Yes</span></td>
                                        <td>---</td>
                                        <td><span class="badge badge-danger"><i class="fa fa-times-circle"></i>&nbsp;Delete</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/design/dropdown_search_box/js/select2.min.js"></script>
    <script>
        //dropdown with search box
        $("#ddlMainPageName").select2();
        $("#ddlIsMainPage").select2();
    </script>
}

