﻿@model AdminPanel.Models.Agency
@{
    ViewBag.Title = "AgencyTDS";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Design </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @using (Html.BeginForm())
                {
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Agent<span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4">
                            <select required class="form-control" name="userid">
                                @Html.Raw(ViewBag.AgentList)
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3 ">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Agency Id</th>
                                        <th>Agency Name</th>
                                        <th>Agency Type</th>
                                        <th>Normal TDS %</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    @if (Model.Counter > 0)
                                    {
                                        <tr id="@Model.Counter">
                                            <td>@Model.User_Id</td>
                                            <td>@Model.Agency_Name</td>
                                            <td>@Model.Agent_Type</td>
                                            <td>@Model.TDS</td>
                                            <td><a href="~/profile/EditTDS?userid=@Model.User_Id"><u>Edit</u></a></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" style="color:red;text-align:center"> No Data Found </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>